@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/Content/js")
    @Styles.Render("~/Content/css")
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MVC Demo</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="#">Create</a></li>
                    <li><a href="#">List All</a></li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> @Session["username"]</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                }
                else
                {
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
